<div id="footer" class="footer_btm pt-4">
    <div class="container">
        <div class="section d-flex">
            <div class="col span_1_of_4 responsivealigin_1">
                <h3 class="footer-heading">Contact Info</h3>
                <div class="textwidget">
                    <div class="footer-conta">
                        <a href="mailto:info@harivara.com">
                            <p><span><i class="icon icon-mail2"></i></span> info@harivara.com</p>
                        </a>
                        <p><a href="https://www.harivara.com"><span><i
                                        class="icon icon-global"></i></span>www.harivara.com</a></p>
                        <p><a href="https://www.harivara.com/enquiry/"><span><i class="icon icon-chat2"></i></span>Send
                                Your Enquiry</a></p>
                        <p><a href="https://www.harivara.com/contact-us/"><span><i
                                        class="icon icon-headphones2"></i></span>Contact Us</a></p>
                        <p class="social_icon">
                            <a href="https://www.facebook.com/Harivara.India/" target="_blank" rel="noopener"><span
                                    class="sprite facebooks"></span></a><a href="https://twitter.com/harivara_india"
                                target="_blank" rel="noopener"><span class="sprite twits"></span></a><a
                                href="https://in.pinterest.com/Harivara_India/" target="_blank" rel="noopener"><span
                                    class="sprite pint"></span></a><a href="https://www.youtube.com/user/HarivaraTV"
                                target="_blank" rel="noopener"><span class="sprite gplus"></span></a><a
                                href="https://www.linkedin.com/company/3360112" target="_blank" rel="noopener"><span
                                    class="sprite linkedin"></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col span_1_of_4 responsivealigin_2">
                <h3 class="footer-heading margined_left">Main Links</h3>
                <div class="textwidget">
                    <ul id="menu-main-links" class="menu margined_left">
                        <li><a href="https://www.harivara.com/product-category/temple-services/">Temple Services</a>
                        </li>
                        <li><a href="https://www.harivara.com/registration/">Login / Register</a></li>
                        <li><a href="https://www.harivara.com/sitemap/">Sitemap</a></li>
                        <li><a href="https://www.harivara.com/hindu-wedding-planners/">Hindu Wedding Planners</a></li>
                    </ul>
                </div>
            </div>
            <div class="col span_1_of_4 responsivealigin_3">
                <h3 class="margined_left footer-heading">Policy Info</h3>
                <div class="textwidget">
                    <ul id="menu-policy-info" class="menu margined_left">
                        <li><a href="https://www.harivara.com/how-we-work/">How we work</a></li>
                        <li><a href="https://www.harivara.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="https://www.harivara.com/terms-of-use/">Terms of use</a></li>
                        <li><a href="https://www.harivara.com/faqs/">FAQ</a></li>
                        <li><a href="https://www.harivara.com/cancellations-refund-policy/">Cancellation &amp; Refund
                                Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col span_1_of_4 responsivealigin_4">
                <h3 class="footer-heading">Payment Partners</h3>
                <div class="textwidget">
                    <div class="foo_payment">
                        <span class="sprite ie"></span><span class="sprite visa"></span><span
                            class="sprite paypal"></span>
                    </div>
                </div>
                <div class="textwidget"></div>
            </div>
        </div>
    </div>
    
</div>