<!-- <div class="row"> -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-search-pooja></app-search-pooja>
            </div>
        <div class="col-12">
            <div class="poojaBanner col-12">
              
                <div style="width: 100%;">
                  
                <img [src]="storyDetails.img" class="w-100">

                 
                </div>

                <!-- <div class="">{{storyDetails.img}}</div> -->
              </div>
            
           


            <div class="col-12">
                <div class="row">
                <p class="storyDesc">{{storyDetails?.fullStory}}</p></div>
            </div>
        </div>
        </div>
        
    </div>
    
<!-- </div> -->
