<nav class="relative z5 fixed-nav-home fixed left-0 col-12 trans-ease-in-out fixed-home-nav-scrolling top-0">
    <div class="sm-p3 p2 fixed-nav-home-wrapper trans-ease-in-out sm-remove">
    <div class="flex flex-center white nowrap mx-auto " style="max-width:1650px">
    <div class="flex-auto">
    <div class="flex flex-center flex-auto">
    <div class="relative">
    <a class="bg-transparent block btn btn-default caps h4  md-h3 pill rounded scroll-change white" href="/" id="btn-default"> <img src="https://pswebservice.pujaservices.com//ImageFolder/Puja/assets/images/logo.png" width="100"></a>
    </div>
    <div class="flex flex-center flex-auto col-12  sm-remove" style="height: 42px;">
    <a class="bg-transparent block btn btn-default caps h6 mr1 pill scroll-change" href="/home" id="btn-default">
    Home
    </a>
    <a class="bg-transparent block btn btn-default caps h6 inline-block pill scroll-change" href="/about-us" id="btn-default">
    About Us
    </a>
    <a class="bg-transparent block btn btn-default caps h6 mr1 pill scroll-change smoothScroll" href="/services" id="btn-default">
    Services
    </a>
    <a class="bg-transparent block btn btn-default caps h6 inline-block pill scroll-change" href="/cust/giftapuja/booknow" id="btn-default">
    Gift a Puja
    </a>
    <a class="bg-transparent block btn btn-default caps h6 inline-block pill scroll-change" href="/pujas" id="btn-default">
    Pujas
    </a>
    <a class="bg-transparent block btn btn-default caps h6 inline-block pill scroll-change" href="/all-temples?pg=1">
    Temples
    </a>
    <a class="bg-transparent block btn btn-default caps h6 inline-block pill scroll-change" href="/all-festivals" id="btn-default">
    Festivals
    </a>
    <a class="bg-transparent block btn btn-default caps h6 inline-block pill scroll-change" href="/blog?pg=1" id="btn-default">
    Blogs
    </a>
    <a class="bg-transparent block btn btn-default caps h6 pill scroll-change" href="/contact-us" id="btn-default">
    Contact Us
    </a>
    
    </div>
    </div>
    </div>
    
     
    <div class="right-nav border-lighten-3">
    <div class="md-flex flex center" style="position: relative;top: -1px;">
    <div>
    
    
             <a class="bg-off-black block btn btn-default btn-primary caps h7 pill sm-h6" href="/" id="btn-default" style="width:100px;">
    Sign In
    </a>
    
            
            
    </div>
    </div>
    </div>
    </div>
    </div>
    </nav>