<div class="col-12 d-flex">
    <div class="col-6">
    <div class="row">
        <form [formGroup]="form">
        <div class="form-outer">
        <div class="form-group">
            <label class="">Name</label>
            <input type="text" placeholder="Enter your name" class="form-control" formControlName="name">
        </div>
        <div class="form-group mt-2">
            <label class="">Age</label>
            <input type="number" placeholder="Enter your age" class="form-control" formControlName="age">
        </div>
        <div class="form-group mt-2">
            <label class="">Address</label>
            <textarea type="text" placeholder="Address" class="form-control" (resize)="false" formControlName="address"></textarea>
        </div>
        <div class="form-group mt-2">
            <label class="">Contact</label>
            <input type="text" placeholder="Mobile" class="form-control" formControlName="contact">
        </div>
        <div class="form-group mt-2">
            <label class="">State</label>
            <input type="text" placeholder="State" class="form-control" formControlName="area">
        </div>
        <div class="d-flex justify-content-center">

        <button type="submit" class="btn btn-primary mt-2" (click)="submit()">Sign Up</button>
        </div>
        </div>
        </form>
    </div>
    </div>

    <div class="col-6"></div>
</div>