<div class="container">
    <div class="row agent-card">
        <div class="col-12">
            <div class="outerHeading">
                <span class="m-auto text-center-left">Booking for {{bookingdetails?.name}}</span>
            </div>
        </div>
        <div class="col-12 mt-1">
            <div class="row">
                <div class="col-4">
                    <div class="p-3">
                        <img src="assets/profile.png" class="agentImg">
                    </div>
                </div>
                <div class="col-8">
                    <div class=" p-2">
                        <span class="slotText">Next Available Slots are below : </span>
                        <div class="mt-1">
                        <span class="slot" *ngFor="let slot of availableSlots">
                            <button class="btn btn-primary m-1">{{slot}}</button>
                        </span>
                        </div>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
        <div class="row">
            <div class="col-12">
                <span class="desc">Description :</span>
                
            </div>
            <div class="col-12">
                <span class="detailDesc">
                    He is a well-qualified Pandit from a Vedic Padashala, capable of performing many poojas such as Varalakshmi Pooja, Lakshmi Pooja, and Ganapati Pooja, as well as various homams across Tamil Nadu. Customers have praised his services with feedback such as 
                    'अस्माकं कुटुम्बस्य सौभाग्यं वर्धितम्' 
                    (He has increased our family’s prosperity) and <span class="" appHighlight="yellow">'तस्य पूजा सर्वदा सफलाः भवन्ति' </span>(His poojas are always successful)
                </span>
            </div>
        </div>
    
</div>
